body{
    background: linear-gradient(to right, lightgreen, lightblue);
}
header{
    text-align: center;

}
.titulo {
    float: left;
}

.texto {
    margin-left: 200px;
    padding-top: 10px;
}

.botonMasTeoria {
    float: right;
}